<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">

  <resultMap type="Board" id="BoardMap">
    <id column="board_id"   property="no"/>
    <result column="titl"   property="title"/>
    <result column="conts"  property="contents"/>
    <result column="writer" property="writer"/>
    <result column="cdt"    property="writeDate"/>
    <result column="vw_cnt" property="viewCount"/> 
  </resultMap>

  <sql id="select1">
    select 
      board_id, 
      titl, 
      writer, 
      cdt, 
      vw_cnt
  </sql>

  <insert id="insertBoard" parameterType="Board">
    insert into vms_board(
      titl,
      conts,
      writer)
    values(
      #{title}, 
      #{contents}, 
      #{writer})
  </insert>

  <select id="selectBoard" resultMap="BoardMap">
    <include refid="select1"/>
    from vms_board
  </select>
  
  <select id="selectDetail" resultMap="BoardMap" parameterType="int">
    <include refid="select1"/>,
      conts
    from 
      vms_board
    where 
      board_id=#{no}
  </select>

  <update id="updateBoard" parameterType="Board">
    update vms_board
    <set>
      <if test="title != null and title != ''">titl=#{title},</if>
      <if test="contents != null and contents != ''">conts=#{contents},</if>
      <if test="writer != null and writer != ''">writer=#{writer}</if>
    </set>
    where board_id=#{no}
  </update>

  <delete id="deleteBoard" parameterType="int">
    delete from vms_board
    where board_id=#{no}
  </delete>
</mapper>