<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jeoneunhye.vms.dao.VideoDao">

  <resultMap type="Video" id="VideoMap">
    <id column="video_id"      property="no"/>
    <result column="subject"   property="subject"/>
    <result column="titl"      property="title"/>
    <result column="url"       property="url"/>
    <result column="playtime"  property="playTime"/>
    <result column="uploader"  property="writer"/>
    <result column="upload_dt" property="uploadDate"/>
    <result column="photo"     property="photo"/>
  </resultMap>
    
  <sql id="select1">
    select 
      video_id, 
      subject, 
      titl, 
      playtime, 
      uploader, 
      upload_dt
  </sql>
  
  <insert id="insert" parameterType="Video">
    insert into vms_video(
      subject, 
      titl, 
      url, 
      playtime, 
      uploader, 
      upload_dt, 
      photo)
    values(
      #{subject}, 
      #{title}, 
      #{url}, 
      #{playTime}, 
      #{writer}, 
      #{uploadDate}, 
      #{photo})
  </insert>

  <select id="findAll" resultMap="VideoMap">
    <include refid="select1"/>
    from vms_video
  </select>

  <select id="findByNo" resultMap="VideoMap" parameterType="int">
    <include refid="select1"/>,
      url,
      photo
    from 
      vms_video
    where 
      video_id=#{no}
  </select>
  
  <update id="update" parameterType="Video">
    update vms_video
    <set>
      <if test="subject != null and subject != ''">subject=#{subject},</if>
      <if test="title != null and title != ''">titl=#{title},</if>
      <if test="url != null and url != ''">url=#{url},</if>
      <if test="playTime != null and playTime != ''">playtime=#{playTime},</if>
      <if test="writer != null and writer != ''">uploader=#{writer},</if>
      <if test="uploadDate != null">upload_dt=#{uploadDate},</if>
      <if test="photo != null and photo != ''">photo=#{photo}</if>
    </set>
    where video_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from vms_video
    where video_id=#{no}
  </delete>
  
  <select id="findByKeyword" resultMap="VideoMap" parameterType="map">
    <include refid="select1"/>
    from vms_video
    <where>
      <if test="subject != null">subject like concat('%', #{subject}, '%')</if>
      <if test="title != null">and titl like concat('%', #{title}, '%')</if>
      <if test="playTime != null">and playtime &lt;= #{playTime}</if>
      <if test="writer != null">and uploader like concat('%', #{writer}, '%')</if>
      <if test="uploadDate != null">and upload_dt >= #{uploadDate}</if>
    </where>
  </select>
</mapper>